@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Roboto:wght@900&family=Ubuntu&display=swap');

.App {
  text-align: center;
}

.icon-spin {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .icon-spin {
    animation: icon-spin-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  font-family: 'Girassol';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes icon-spin-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
